.profileTitle{
    color : #0e1344;
    text-align: center;
    padding: 20px;
}

.profile{
    background-color: white!important;
}

.profile__body{
    padding: 0 100px;
}

.profile .row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}