
.header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #0e1344;
    padding: 10px;
    justify-content: space-evenly;
    z-index: 999;
    width: 100%;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__right{
    display: flex;
}

.header__search{
    margin-left: 10px;
}